@model List<UserHubAdminPortal.Models.Users>
@{
    int i = 0;
}

<div class="container">
<div class="table-responsive">
    <table id="userDatatable" class="table table-hover" width="100%" cellspacing="0"style="cursor:pointer;">
        @* class="custom-table-header" *@
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Login ID</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                i++;
                <tr onclick="EditForm('@item.ID')">
                    <td scope="row">@i</td>
                    <td>@item.UserName</td>
                    <td>@item.LoginID</td>
                    <td>@item.Email</td>
                    <td>-</td>
                    @if (item.IsActive)
                    {
                        <td>
                            <i class="bi bi-check-circle me-1 custom-icon-green"></i>
                        </td>
                    }
                    else
                    {
                        <td>
                            <i class="bi bi-x-circle me-1 custom-icon-red"></i>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

<script>
    $(document).ready(function () {
        $('#userDatatable').dataTable({
            responsive: true,
            buttons: [
                'colvis',
                {
                    extend: 'pageLength',
                    text: function (dt, conf) {
                        return 'Page Length: ' + dt.page.len();
                    }
                }
            ],
            colReorder: true,
            dom: 'Bfrtip',
            "pageLength": 5,
            "lengthMenu": [ [5, 10, 25, 50, -1], [5, 10, 25, 50, "All"] ]
        });
    });
</script>
